html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@media screen and (min-width: 767px) {

  #html {
    font-size: 18px;
  }

  #nav {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .nav-profile {
    border: solid 1px;
    padding: 5px 10px;
  }

  #nav>a {
    margin: 0 20px;
  }

  #main-image {
    width: 100%;
    margin: 40px 0 20px 0;
  }

  .index-h2 {
    font-size: 34px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }

  #about {
    width: 100%;
  }

  #about-box {
    display: flex;
    justify-content: center;
  }

  #about-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto 0;
  }

  #about-contents {
    margin-left: 20px;
  }

  #about-list {
    padding: 0 0 0 30px;
  }

  #works {
    margin-bottom: 200px;
  }

  #works-box {
    display: flex;
    justify-content: center;
  }

  .works-contents {
    position: relative;
    margin: 10px;
    text-align: center;
  }

  .works-contents>img {
    width: 200px;
  }

  .works-contents>p {
    position: absolute;
    left: 0;
    width: 100%;
  }

  footer {
    text-align: center;
  }

}

@media screen and (max-width: 768px) {
html {
  font-size: 12px;
}

  #nav {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .nav-profile {
    border: solid 1px;
    padding: 5px 10px;
  }

  #nav>a {
    margin: 0 20px;
  }

  #main-image {
    margin-top: 20px;
    width: 100%;
  }

  .index-h2 {
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 16px;
    margin-top: 0;
  }

  #about {
    margin: 10px;
  }

  #about-box {
    display: flex;
    justify-content: center;
  }

  #about-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto 0;
  }

  #about-contents {
    margin-left: 20px;
  }

  #about-list {
    padding: 0 0 0 30px;
  }

  #works {
    margin: 10px;
  }

  #works-box {
    margin: 10px;
  }

  .works-contents {
    margin: 10px;
    text-align: center;
  }

  .works-contents>img {
    width: 100%;
  }

  .works-contents>p {
    margin: 0 auto 20px auto;
  }

  footer {
    text-align: center;
  }

}